@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

%slideInFromLeft-animation {
  animation: slideInFromLeft forwards;
}

.slideInFromLeft-h1 {
  @extend %slideInFromLeft-animation;
  animation-duration: 1s;
}

.slideInFromLeft-edu {
  @extend %slideInFromLeft-animation;
  animation-duration: 2s;
}

.slideInFromLeft-res {
  @extend %slideInFromLeft-animation;
  animation-duration: 1.5s;
}

#education {
  padding: 140px 30px 30px 30px;

  @media (max-width: 600px) {
    padding: 30px;
  }
}

.resume {
  display: inline-flexbox;
  position: relative;
}

@media (max-width: 600px) {
  #dot {
    font-size: 35px;
  }
}
