@keyframes slideInFromLeft {
    from { transform: translateX(-100%); opacity: 0; }
    to   { transform: translateX(0); opacity: 1; }
  }

  .slideInFromLeft-h1 {
    animation: slideInFromLeft 1s forwards;
  }

  .slideInFromLeft-edu {
    animation: slideInFromLeft 2s forwards;
  }

  .slideInFromLeft-res {
    animation: slideInFromLeft 1.5s forwards;
  }

  #education {
    padding: 100px 30px 30px 30px;
  }

  .resume {
    display: inline-flexbox;
    position: relative;
  }

 @media (max-width: 600px) {
  
  #education {
    padding: 30px;
  }

  #dot {
    font-size: 35px;
  }

 }
