.education-section {
  padding: 80px;
  display: inline-grid;
}

.contact-title {
    font-size: xx-large;
  font-family: 'Jost', sans-serif;
  color: var(--accent-color);
}

.education-h1 {
    font-family: 'Jost', sans-serif;
    color: white;
    font-size: xxx-large;
    margin: 0;
}

.icon-header {
  /* font-size: xx-large; */
  font-family: 'Jost', sans-serif;
  color: white;
  margin: 0;
}

.contact-icons {
  text-decoration: none;
  margin: 0;
  padding: 15px;
  gap: 10%;
  display: flex;
  justify-content: center;
}

.contact-gitIcon {
  
  color: white;
  text-decoration: none;
}

.contact-envolope {
  color: white;
  text-decoration: none;
}

.contact-phone {
  color: white;
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  font-size: x-large;
  align-self: center;
}

.liftIntoPlace-contact {
  animation: liftIntoPlace-contact 2s forwards;
  display: flow-root;
}


@keyframes liftIntoPlace-contact {
  from { transform: translateY(100vh); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}


@media (max-width: 600px) {
  .education-section {
    padding: 20px;
  }

  .contact-title,
  .education-h1,
  .icon-header {
    font-size: large;
  }

  .contact-icons {
    flex-direction: column;
  }

  .contact-phone {
    font-size: large;
  }
}

@media (max-width: 425px) {
  .education-section {
    padding: 10px;
  }

  .contact-title,
  .education-h1,
  .icon-header {
    font-size: medium;
  }

  .contact-icons {
    flex-direction: column;
  }

  .contact-phone {
    font-size: medium;
  }
}