.education-section {
  padding: 25px;
  display: inline-grid;
}

.contact-title {
  font-size: xx-large;
  font-family: "Jost", sans-serif;
  color: var(--accent-color);
}

.number-4 {
  padding: 0;
  position: absolute;
  padding-top: -29px;
  color: rgba(57, 57, 57, 0.5);
  padding-left: 10px;
  z-index: -1;
  display: inline-block;
  font-size: 12rem;
  font-family: 'Knewave', cursive;
}

.education-h1 {
  font-family: "Jost", sans-serif;
  color: white;
  font-size: xxx-large;
  margin: 0;
}

.icon-header {
  /* font-size: xx-large; */
  font-family: "Jost", sans-serif;
  color: white;
  margin: 0;
}

.contact-icons {
  text-decoration: none;
  margin: 0;
  padding: 15px 15px 30px 15px;
  gap: 10%;
  display: flex;
  justify-content: center;
}

.contact-icons:hover {
  color: var(--accent-color);
}

.contact-gitIcon {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.3s;
}

.contact-gitIcon:hover {
  font-size: x-large;
  transition: 0.3s;
  margin: 0;
  padding: 0;
}

.contact-envolope {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.contact-envolope:hover {
  font-size: x-large;
  transition: 0.3s;
}

.contact-phone {
  color: white;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-size: x-large;
  align-self: center;
  transition: 0.3s;
  cursor: pointer;
}

.contact-phone:hover {
  font-size: xx-large;
  transition: 0.3s;
}

.liftIntoPlace-contact {
  animation: liftIntoPlace-contact 1.25s forwards;
  display: flow-root;
}

@keyframes liftIntoPlace-contact {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .education-section {
    padding: 20px;
  }

  .contact-title,
  .education-h1,
  .icon-header {
    font-size: large;
  }

  .contact-icons {
    flex-direction: column;
  }

  .contact-phone {
    font-size: large;
  }
}

@media (max-width: 425px) {
  .education-section {
    padding: 10px;
  }

  .contact-title,
  .education-h1,
  .icon-header {
    font-size: larger;
  }

  .contact-icons {
    flex-direction: column;
  }

  .contact-phone {
    font-size: medium;
  }
}
