.App {
  text-align: center;
  background-color: var(--background-color);
  max-width: 1440px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --text-color: ivory;
  --background-color: #000000;
  --accent-color: #0041c7; /* #0041c7 */
  --link-color: #258f28;
}

/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Teko&display=swap"); /* font-family: 'Nabla', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Knewave&display=swap"); /* font-family: 'Knewave', cursive; */

/* Hero Section */

.nav {
  height: 80px;
  text-align: start;
  padding-top: 15px;
  padding-left: 125px;
  position: sticky;
  z-index: 9999;
  top: 0px;
  transition: 0.6s;
  background-image: linear-gradient(
    180deg,
    #000,
    rgba(0, 0, 0, 0.8) 59%,
    transparent
  );
}

.nav-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav-container {
  color: var(--text-color);
  font-size: xx-large;
  border-right: solid;
  border-bottom: solid;
  width: fit-content;
  font-family: "Climate Crisis";
  padding-right: 5px;
  cursor: pointer;
}

.nav-containers {
  color: white;
  display: flex;
  align-items: baseline;
}

.SE {
  color: #a5a5a5;
  display: table;
}

.SE-nav {
  color: white;
  margin-block: auto;
  font-size: x-small;
  font-family: "Russo One", sans-serif;
  padding-left: 5px;
}

.nav-container {
  color: white;
}

.first {
  margin: 0;
  animation: nameFromLeft 2s forwards;
  color: var(--h1-color);
  text-shadow: 3px 3px #4c4c4c;
}

.last {
  margin: 0px;
  animation: nameFromRight 2s forwards;
  color: var(--h1-color);
  text-shadow: 3px 3px #4c4c4c;
}

@keyframes nameFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes nameFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#dot {
  top: 0;
  text-decoration: none;
  color: rgb(37, 143, 40);
  font-size: 75px;
  font-family: initial;
  display: inline-block;
  text-shadow: 3px 3px #103300;
  
}

.dot {
  top: 0;
  text-decoration: none;
  color: #258f28;
  font-size: 75px;
  font-family: initial;
  display: inline-block;
  animation: dotFall 2s forwards;
  text-shadow: 2px 2px #103300;
}

@keyframes dotFall {
  from {
    transform: translateY(-100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.main-section {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
}

#skills-columns {
  padding: 80px 25px 25px 25px;
}

/**/
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}

.columns > * {
  padding: 0;
}

/**/

.hero-text {
  font-size: xx-large;
  font-family: "Russo One", sans-serif;
  text-align: start;
  color: var(--text-color);
}

.hero-img {
  background-image: url(./assets/Images/Subject\ 4\ copy.png);
  background-size: 80%;
  background-position: center;
  border-radius: 15px;
  animation: fadeIn 8s;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.p-text {
  font-size: large;
  color: #a5a5a5;
  font-family: "Jost", sans-serif;
  align-self: center;
  animation: fadeIn 5s;
  border-left: solid 2px var(--accent-color);
  padding-left: 10px;
}

.scroll-more {
  border-bottom: solid var(--accent-color);
  color: var(--text-color);
  transition: 0.3s;
  padding-top: 15px;
  padding-right: 15px;
  font-family: "Knewave", cursive;
  text-shadow: 2px 2px #4c4c4c;
}

.scroll-more:hover {
  padding-top: 3px;
  transition: 0.3s;
  border-bottom: solid var(--link-color);
  color: var(--link-color);
  text-shadow: 3px 3px #103300;
  cursor: pointer;
  font-family: "Knewave", cursive;
}

.scroll-nav {
  display: flex;
  font-size: xx-large;
  font-family: "Russo One", sans-serif;
  text-align: start;
  justify-content: center;
  padding-bottom: 10%;
}

/* SkillSet */

.my-skillset {
  inline-size: fit-content;
  color: rgba(5, 106, 201, 0.9);
  z-index: -1;
  font-size: 3rem;
  font-family: "Knewave", cursive;
}

.skill-text {
  position: relative;
  border-right: solid 2px var(--accent-color);
  font-size: xx-large;
  font-family: "Jost", sans-serif;
  text-align: start;
  color: var(--text-color);
  height: 500px;
}

/* Education */

.education-text {
  text-align: start;
  inline-size: fit-content;
  color: rgba(5, 106, 201, 0.9);
  font-family: "Knewave", cursive;
  font-size: 3rem;
}

.resume-link {
  font-size: xx-large;
  font-family: "Russo One", sans-serif;
  text-align: start;
  color: var(--text-color);
  padding-top: 5%;
  padding-bottom: 5%;
  text-shadow: 2px 2px #4c4c4c;
}

.resume-link:hover {
  cursor: pointer;
  text-shadow: 2px 2px #103300;
}

.hyper-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: xx-large;
  font-family: "Jost", sans-serif;
  text-align: start;
  transition: 0.5s;
}

.hyper-link:hover {
  color: var(--link-color);
  transition: 0.3s;
  padding-left: 10px;
}

.resume {
  display: inline-flexbox;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Mobile Friendly */

@media screen and (max-width: 600px) {
  .columns {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .main-section {
    text-align-last: center;
  }

  .hero-text,
  .scroll-more,
  .my-skillset,
  .skill-text,
  .education-text,
  .resume-link,
  .hyper-link {
    font-size: large;
    height: inherit;
  }

  .scroll-nav {
    overflow: scroll;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .div1 {
    display: none;
  }

  .last,
  .first {
    text-align-last: start;
  }

  .nav {
    padding-left: 15px;
  }
}

@media screen and (max-width: 425px) {
  .nav {
    padding-left: 10px;
  }

  .last,
  .first {
    text-align-last: start;
  }

  .scroll-nav {
    overflow: scroll;
  }

  .nav-container {
    font-size: x-large;
  }

  .hero-text,
  .scroll-more,
  .education-text,
  .resume-link,
  .hyper-link {
    font-size: large;
  }

  .nav {
    padding-left: 15px;
  }
}
