.App {
  text-align: center;
  background-color: var(--background-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



:root {
  --text-color: ivory;
  --background-color: #000000;
  --accent-color: rgb(5, 106, 201);
}



/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');



/* Hero Section */

.nav {
  height: 80px;
  text-align: start;
  padding-top: 15px;
  padding-left: 125px;
  /* background-color: rgba(40, 44, 52); */
  position: sticky;
  z-index: 9999;
  top: 0px;
  background-image: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.8) 59%, transparent);
}

.nav-container {
  color: var(--text-color);
  font-size: xx-large;
  border-right: solid var(--accent-color);
  border-bottom: solid var(--accent-color);
  width: fit-content;
  font-family: 'Climate Crisis';
  padding-right: 5px;
}

.first {
  margin: 0;
  animation: nameFromLeft 2s forwards;
}

.last {
  margin: 0px;
  animation: nameFromRight 2s forwards;
}

@keyframes nameFromLeft {
  0% { transform: translateX(-100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

@keyframes nameFromRight {
  0% { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.dot {
  top: 0;
  text-decoration: none;
  color: rgb(10, 134, 49);
  font-size: 75px;
  font-family: initial;
  display: inline-block;
  animation: dotFall 2s forwards;
}

@keyframes dotFall {
  from { transform: translateY(-100vh); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

.main-section {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
}

/**/
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px;
}

.columns > * {
padding: 0;
}
/**/

.hero-text {
  font-size: xx-large;
  font-family: 'Russo One', sans-serif;
  text-align: start;
  color: var(--text-color);
  
}

.hero-img {
  background-image: url(./assets/Images/Subject\ 4\ copy.png);
  background-size: 80%;
  background-position: center;
  border-radius: 15px;
  animation: fadeIn 8s; 
  background-repeat: no-repeat;
  border-radius: 15px;
  
}

.p-text {
  font-size: large;
  color: #a5a5a5;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  align-self: center;
  animation: fadeIn 5s; 
  border-left: solid var(--accent-color);
  padding-left: 10px;
}

.scroll-more {
  border-bottom: solid var(--accent-color);
  color: var(--text-color);
  transition: .5s;
  padding-top: 15px;
  padding-right: 15px;
  
}

.scroll-more:hover {
  padding-top: 3px;
  transition: .5s;
  border-bottom: solid rgb(10, 134, 49);
  color: rgb(10, 134, 49);
  cursor: pointer;
}

.scroll-nav {
  display: flex;
  font-size: xx-large;
  font-family: 'Russo One', sans-serif;
  text-align: start;
  justify-content: center;
  padding-bottom: 10%;
}


/* SkillSet */

.my-skillset {
  color: rgb(5, 106, 201);
  font-size: x-large;
  border-bottom: solid var(--accent-color);
  inline-size: fit-content;
}

.skill-text {
  border-right: solid var(--accent-color);
  font-size: xx-large;
  font-family: 'Russo One', sans-serif;
  text-align: start;
  color: var(--text-color);
  
}


/* Education */

.education-text {
  font-size: x-large;
  font-family: 'Russo One', sans-serif;
  text-align: start;
  color: rgb(5, 106, 201);
  border-bottom: solid var(--accent-color);
  inline-size: fit-content;
}

.resume-link {
  font-size: xx-large;
  font-family: 'Russo One', sans-serif;
  text-align: start;
  color: var(--text-color);
  padding-top: 5%;
  padding-bottom: 5%;
}

.resume-link:hover {
  cursor: pointer;
  
}

.hyper-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: x-large;
  font-family: 'Russo One', sans-serif;
  text-align: start;
  transition: .5s;
}

.hyper-link:hover {
  color: rgb(10, 134, 49);;
  transition: .5s;
  padding-left: 10px;
}

.resume {
  display: inline-flexbox;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

