.App {
  text-align: center;
  background-color: var(--background-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



:root {
  --text-color: ivory;
  --background-color: #000000;
  --accent-color: rgb(16, 144, 33);
}



/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');



/* Hero Section */

.nav {
  height: 80px;
  text-align: start;
  padding-top: 15px;
  padding-left: 125px;
  /* background-color: rgba(40, 44, 52); */
  position: sticky;
  z-index: 9999;
  top: 0px;
  background-image: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.8) 59%, transparent);
}

.nav-container {
  color: var(--text-color);
  font-size: xx-large;
  border-right: solid;
  border-bottom: solid;
  width: fit-content;
  font-family: 'Climate Crisis';
  padding-right: 5px;
}

.first {
  margin: 0;
}

.last {
  margin: 0px;
}

.dot {
  text-decoration: none;
  color: rgb(10, 134, 49);
  font-size: 75px;
  font-family: initial;
}

.main-section {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
}

/**/
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 90px;
}

.columns > * {
padding: 1rem;
}
/**/

.hero-text {
  font-size: xx-large;
  font-family: 'Russo One', sans-serif;
  text-align: start;
  color: var(--text-color);
  
}

.hero-img {
  background-image: url(./assets/Images/Subject\ 4.png);
  background-size: 90%;
  background-position: center;
  border-radius: 15px;
  animation: fadeIn 5s; 
  background-repeat: no-repeat;
  border-radius: 15px;
  
}

.p-text {
  font-size: large;
  color: var(--text-color);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  align-self: center;
}

.scroll-more {
  border-bottom: solid rgb(7, 85, 32);
  color: var(--text-color);
  transition: .5s;
  padding-top: 15px;
  padding-right: 15px;
  
}

.scroll-more:hover {
  padding-top: 3px;
  transition: .5s;
  border-bottom: solid rgb(10, 134, 49);
  color: rgb(10, 134, 49);
  cursor: pointer;
}

.scroll-nav {
  display: flex;
  font-size: xx-large;
  font-family: 'Russo One', sans-serif;
  text-align: start;
  justify-content: center;
}


/* SkillSet */

.my-skillset {
  color: rgb(5, 106, 201);
  font-size: x-large;
}

.skill-text {
  border-right: solid;
  font-size: xx-large;
  font-family: 'Russo One', sans-serif;
  text-align: start;
  color: var(--text-color);
}


/* Icons */



.icon-container {
  align-self: center;
}

#CSS {
  animation: shake 18.5s infinite;
}

#mongodb {
  animation: shake 18s infinite;
}

#heroku {
  animation: shake 16s infinite;
}

#js {
  animation: shake 14s infinite;
}

#express {
  animation: shake 19s infinite;
}

#react {
  animation: shake 19s infinite;
}

#node {
  animation: shake 16.5s infinite;
}

#HTML5 {
  animation: shake 17s infinite;
}

#express {
  animation: shake 17.5s infinite;
}



@keyframes shake {
  0%, 10% { transform: translate(0, 0) rotate(0deg); }
  22%, 28% { transform: translate(-1px, -2px) rotate(-1deg); }
  30%, 38% { transform: translate(-3px, 0px) rotate(1deg); }
  40%, 48% { transform: translate(3px, 2px) rotate(0deg); }
  50%, 58% { transform: translate(1px, -1px) rotate(1deg); }
  60%, 68% { transform: translate(-1px, 2px) rotate(-1deg); }
  70%, 78% { transform: translate(-3px, 1px) rotate(0deg); }
  80%, 88% { transform: translate(3px, 1px) rotate(-1deg); }
  90%, 100% { transform: translate(0, 0) rotate(0deg); }
}




/* Education */

.education-text {
  font-size: larger;
  font-family: 'Russo One', sans-serif;
  text-align: start;
  color: rgb(5, 106, 201);
}

.resume-link {
  font-size: xx-large;
  font-family: 'Russo One', sans-serif;
  text-align: start;
  color: var(--text-color);
  padding-top: 5%;
  padding-bottom: 5%;
}

.resume-link:hover {
  cursor: pointer;
  
}

.hyper-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: x-large;
  font-family: 'Russo One', sans-serif;
  text-align: start;
  transition: 1s;
}

.hyper-link:hover {
  color: rgb(10, 134, 49);;
  transition: 1s;
  padding-left: 10px;
}

.resume {
  display: inline-flexbox;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

